In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [4]:
df1 = pd.read_excel("Retail_Dataset_Cleaned.xlsx", sheet_name = "order_items")
df1.head()

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

In [5]:
df1.shape

(112650, 7)

In [6]:
df2 = pd.read_excel("Retail_Dataset_Cleaned.xlsx", sheet_name = "products")
df2.head()

,Unnamed: 0,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225,16,10,14
1,1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000,30,18,20
2,2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154,18,9,15
3,3,cef67bcfe19066a932b7673e239eb23d,baby,371,26,4,26
4,4,9dc1a7de274444849c219cff195d0b71,housewares,625,20,17,13

In [7]:
df2.shape

(32951, 7)

In [8]:
df = pd.merge(df1 , df2 , on = 'product_id' , how = 'inner' , indicator = True)
df.head()

,Unnamed: 0_x,order_id,order_item_id,product_id,seller_id,price,shipping_charges,Unnamed: 0_y,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,_merge
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,25865,toys,650,28,9,14,both
1,8346,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9,17.96,25865,toys,650,28,9,14,both
2,36646,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,64.9,18.33,25865,toys,650,28,9,14,both
3,49108,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,16.17,25865,toys,650,28,9,14,both
4,55021,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,25865,toys,650,28,9,14,both

In [9]:
df.shape

(112650, 14)

In [10]:
df = df[['order_id','product_category_name']]
df.head()

                           order_id product_category_name
0  00010242fe8c5a6d1ba2dd792cb16214                  toys
1  130898c0987d1801452a8ed92a670612                  toys
2  532ed5e14e24ae1f0d735b91524b98b9                  toys
3  6f8c31653edb8c83e1a739408b5ff750                  toys
4  7d19f4ef4d04461989632411b7e588b9                  toys

In [11]:
df.shape

(112650, 2)

In [12]:
writer = pd.ExcelWriter('Market_Basket_Analysis.xlsx', engine = 'xlsxwriter')

In [13]:
df.to_excel(writer, sheet_name = 'Order_ProductCat_1', index = False)
df.to_excel(writer, sheet_name = 'Order_ProductCat_2', index = False)

In [14]:
writer.save()